* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #E5BEB5;
}

main {
  max-width: 100%;
  padding: 1rem;
}

/*ヘッダー全体*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #896C6C;
  color: #E5BEB5;
}

/*ロゴ*/
.header-logo {
  font-size: 1.2rem;
  font-weight: bold;
}

/*navのリストを横並びに*/
nav ul {
  display: flex;
  list-style: none;
  gap: 19px;
  margin: 0;
  padding: 0;
}

/*リンクの見た目*/
nav a {
  color: #E5BEB5;
  text-decoration: none;
}

/*ホバーした時*/
nav a:hover {
  text-decoration: underline;
}


#hero {
  display: flex;
  /* ↑これをつけた瞬間、子要素が横並びになる */
  align-items: center;
  gap: 2rem;
}

#hero img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  flex-shrink: 0;
  /*↑画面の幅が足りないとき子要素が自動で縮もうとする性質があります。​flex-shrink: 0 をつけると「この要素は縮めないで！」という意味になります。*/
  object-fit: cover;
  /*↑「画像を縦横比を保ったまま、指定したサイズにはめ込む」** プロパティ*/
}

.hero-text p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #EEE6CA;
  /* background-color: #EEE6CA;
  border-radius: 0.8rem; */

}

h1 {
  font-size: 2.3rem;
  text-decoration: underline;
  color: #896C6C;
}

h2 {
  font-size: 1.4rem;
  color: #896C6C;
  margin: 0.5rem 0rem;
}

p {
  font-size: 1rem;
}

#about {
  background-color: #F5FAE1;
  margin: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 1rem;
}

#skills {
  background-color: #F5FAE1;
  margin: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 1rem;
}

li {
  font-size: 1rem;
}

#skills>ul>li+li {
  margin-top: 1rem;
}

#skills>ul>li>ul {
  padding-left: 1rem;
}

#pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.pokemon-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.pokemon img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

#contact {
  background-color: #F5FAE1;
  margin: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 1rem;
}

.form-group {
  color: #896C6C;
  font-size: 0.7rem;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.8rem;
}

.form-group label {
  width: 6rem;
  flex-shrink: 0;
}

button {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #EEE6CA;
  color: #896C6C;
  font-size: 0.5rem;
}

#footer {
  background-color: #896C6C;
  color: #E5BEB5;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  gap: 1rem;
}

.footer-logo {
  font-weight: bold;
}

#footer nav {
  margin-left: auto;

}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: #E5BEB5;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

/*600px以下*/
@media(max-width: 600px) {

  /* header */
  header {
    position: relative;
  }

  .hamburger {
    display: block;
  }

  #nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #896C6C;
    padding: 1rem 2rem;
  }

  #nav.open {
    display: block;
  }

  #nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  /* hero */
  #hero {
    flex-direction: column;
    /* 縦並びに */
    text-align: center;
    padding: 1.5rem 0;
  }

  /* about・skills・contact */
  #about,
  #skills,
  #contact {
    margin: 0.5rem;
    padding: 1rem;
  }

  #skills>ul {
    padding: 1rem;
  }

  .pokemon img {
    width: 80px;
    height: 80px;
  }

  /* footer */
  #footer {
    flex-direction: column;
    /* 縦並びに */
    gap: 0.8rem;
    text-align: center;
    padding: 1.5rem;
  }

  #footer nav {
    margin-left: 0;
    /* 右寄せを解除 */
  }
}