* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 30px;
}

body {
  background-color: #E5BEB5;
}

main {
  max-width: 100%;
  padding: 1rem;
}

/*ヘッダー全体*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #896C6C;
  color: #E5BEB5;
}

/*ロゴ*/
.header-logo {
  font-size: 1.2rem;
  font-weight: bold;
}

/*navのリストを横並びに*/
nav ul {
  display: flex;
  list-style: none;
  gap: 19px;
  margin: 0;
  padding: 0;
}

/*リンクの見た目*/
nav a {
  color: #E5BEB5;
  text-decoration: none;
}

/*ホバーした時*/
nav a:hover {
  text-decoration: underline;
}


#hero {
  display: flex;
  /* ↑これをつけた瞬間、子要素が横並びになる */
  align-items: center;
  gap: 2rem;
}

#hero img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  flex-shrink: 0;
  /*↑画面の幅が足りないとき子要素が自動で縮もうとする性質があります。​flex-shrink: 0 をつけると「この要素は縮めないで！」という意味になります。*/
  object-fit: cover;
  /*↑「画像を縦横比を保ったまま、指定したサイズにはめ込む」** プロパティ*/
}

.hero-text p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #EEE6CA;
  /* background-color: #EEE6CA;
  border-radius: 0.8rem; */

}

h1 {
  font-size: 2.3rem;
  text-decoration: underline;
  color: #896C6C;
}

h2 {
  font-size: 1.4rem;
  color: #896C6C;
  margin: 0.5rem 0rem;
}

p {
  font-size: 1rem;
}

#about {
  background-color: #F5FAE1;
  margin: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 1rem;
}

#skills {
  background-color: #F5FAE1;
  margin: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 1rem;
}

li {
  font-size: 1rem;
}

#skills>ul>li+li {
  margin-top: 1rem;
}

#pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.pokemon-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pokemon img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}